/* Generics */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


main {
    font-family: sans-serif;
    background-color: black;
}


header {
    height: 5vh;
    background-color: white;
}

.flex {

display: flex;
}

.container {
    width: 100%;
    background-color: black;
    height: 85vh;
    justify-content: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.profilo {
border: 2px red solid;
margin: 6px 2px;
width: calc(100% / 7 - 20px);
height: 140px;
justify-content: center;
position: relative;
}

.profilo .img-profile {

width: 100%;
}

.pincopallo {
    background-color: #5c6c78;
    position: absolute;
    color: white;
    bottom: 15px;
    left: 0px;
    height: 30px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


