/* Generics */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


main {
    font-family: sans-serif;
    background-color: black;
}


header {
    height: 5vh;
    background-color: white;
}

.flex {

display: flex;
}

.container {
    width: 100%;
    background-color: black;
    height: 85vh;
    justify-content: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.profilo {
border: 2px red solid;
margin: 20px;
width: calc(100% / 7 - 60px);
height: 140px;
justify-content: center;
}

