/* Generics */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* Content */




main {
    font-family: sans-serif;
    background-color: black;
}


header {
    height: 5vh;
    background-color: black;
}

.flex {

display: flex;
}


.headerview {
    justify-content: flex-end;
    padding: 7px;
}

button {
    background-color:#58544a;
    color: white;
    padding: 3px;
    border-radius: 5px;
}


.container {
    width: 100%;
    background-color: black;
    height: 85vh;
    justify-content: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.profilo {
border: 2px red solid;
margin: 6px 2px;
width: calc(100% / 7 - 20px);
height: 140px;
justify-content: center;
position: relative;
}

.profilo .img-profile {

width: 100%;
}

.pincopallo {
    background-color: #5c6c78;
    opacity: 0.9;
    position: absolute;
    color: white;
    bottom: 15px;
    left: 0px;
    height: 30px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


/* FOOTER */


footer {
    background-color: #222222;
    height: 10vh;
}

.iconmenu {
color: white;
font-size: 10px;
justify-content: space-between;
padding: 8px 20px;
width: 100%;
}

.nav-mic .fa-solid {
margin: 0 20px;
}

.nav-invite .fa-solid {
margin: 0 20px;
}

.nav-close {
background-color: aqua;
height: 50px;
width: 90px;
font-size: 18px;
color: red;
justify-content: center;
align-items: center;
height: 60px;
margin: 0 30px;
}

.footermenu span {
margin: 0 20px; 
}

.footer-invite span {
margin: 0 20px; 
}


.columnbutton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.columnbutton .fa-solid {
    font-size: 30px;
}

.greenicon  {

color: green;
}

.closemeeting {
    color: red;
    background-color:#4a4a4a;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.aprimenu {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

/* /FOOTER */

